<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Mail Address</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email
            #email="ngModel"
          />
        </div>
        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select
            id="subscription"
            class="form-control"
            ngModel="advanced"
            name="subscription"
          >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            ngModel
            name="password"
            required
          />
        </div>
        <p id="validationMsg" *ngIf="!email.valid && email.touched">
          The email is invalid
        </p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Submit
        </button>
      </form>
      <hr />
      <div *ngIf="submitted">
        <h3>Your Data:</h3>
        <p>Mail: {{ user.email }}</p>
        <p>Subscription: {{ user.subscription }}</p>
        <p>Password: {{ user.password }}</p>
      </div>
    </div>
  </div>
</div>
